<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="TEST_DB_HOST" value="db"/>
        <env name="TEST_DB_PORT" value="3306"/>
        <env name="TEST_DB_NAME" value="wishlist_test"/>
        <env name="TEST_DB_USER" value="wishlist_dev"/>
        <env name="TEST_DB_PASS" value="wishlist_dev"/>
    </php>
</phpunit>
